<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <settings>
  	<setting name="logImpl"  value="LOG4J"/>
  	<setting name="useGeneratedKeys" value="true"/>
  </settings>
  <typeAliases>
 	<typeAlias type="com.xwj.entity.Issue" alias="Issue"/>
 	<typeAlias type="com.xwj.entity.User" alias="User"/>
 	<typeAlias type="com.xwj.entity.Status" alias="Status"/>
 	<typeAlias type="com.xwj.entity.Dept" alias="Dept"/>
 	<typeAlias type="com.xwj.entity.Project" alias="Project"/>
 </typeAliases>
 
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
 
 
  <mappers>
    <mapper resource="com/xwj/util/sql_mapper.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_user.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_dept.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_proj.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_permission.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_status.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_comment.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_count.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_user_log.xml"/>
    <mapper resource="com/xwj/util/sql_mapper_training_record.xml"/>
  </mappers>
</configuration>