<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql_mapper">

	<sql id="issueColumns">
		ti.id AS issueId ,
		ti.title AS title ,
		ti.content AS
		issueContent,
		ti.submit_time AS submitTime,
		ti.last_update_time AS
		lastUpdateTime,
		ti.resolved_time AS resolvedTime,
		ti.week_of_year AS weekOfYear,
		ti.is_top as isTop,
		ti.status_id AS statusId,
		ti.user_id AS issueUserId,
	</sql>

	<sql id="statusColumns">
		ts.id AS statusId,
		ts.status_name AS statusName,
	</sql>
	<sql id="userColumns">
		tu.id AS userId,
		tu.user_name AS userName,
		tu.real_name AS
		realName,
		tu.password AS password,
		tu.dept_id AS deptId,
	</sql>
	<sql id="deptColumns">
		td.id AS pkDeptId,
		td.dept_name AS deptName,
	</sql>

	<sql id="commentColumn">
		tc.content AS commentContent,
		tc.is_resovled_issue AS
		isResolvedIssue,
		tc.is_problem AS isProblem,
		tc.id AS pkCommentId,
		tc.create_time AS commentCreateTime,
		tc.user_id AS commentUserId,
	</sql>
	<sql id="commentUserColumn">
		tuc.id AS userIdC,
		tuc.user_name AS userNameC,
		tuc.real_name
		AS realNameC,
		tuc.password AS passwordC,
		tuc.dept_id AS deptIdC,
	</sql>
	<sql id="commentUserDeptColumn">
		tdc.id AS pkDeptIdC,
		tdc.dept_name AS deptNameC

	</sql>

	<sql id="issueTable">t_issue ti </sql>
	<sql id="statusTable">t_status ts</sql>
	<sql id="userTable">t_user tu</sql>
	<sql id="deptTable">t_dept td</sql>
	<sql id="commentTable">t_comment tc</sql>
	<sql id="issueCommentTable">t_issue_comments tic</sql>

	<sql id="issueStatusJoint">ti.status_id = ts.id</sql>
	<sql id="issueUserJoint">ti.user_id = tu.id</sql>
	<sql id="userDeptJoint">tu.dept_id = td.id</sql>
	<sql id="issueJoint"> ti.id = tic.issue_id </sql>
	<sql id="commentJoint"> tic.comment_id =tc.id </sql>
	<sql id="isNotDelete">ti.is_deleted = 1</sql>
	<sql id="commentUserJoint"> tc.user_id = tu.id</sql>

	<sql id="orderByLastUptTime">ORDER BY ti.is_top, ti.last_update_time desc</sql>

	<sql id="IssueSelect">
		SELECT
		<include refid="issueColumns" />
		<include refid="statusColumns" />
		<include refid="userColumns" />
		<include refid="deptColumns" />
		<include refid="commentColumn" />
		<include refid="commentUserColumn" />
		<include refid="commentUserDeptColumn" />
		FROM
		<include refid="issueTable" />
		LEFT JOIN
		<include refid="statusTable" />
		ON
		<include refid="issueStatusJoint" />
		LEFT JOIN
		<include refid="userTable" />
		ON
		<include refid="issueUserJoint" />
		LEFT JOIN
		<include refid="deptTable" />
		ON
		<include refid="userDeptJoint" />
		LEFT JOIN
		<include refid="issueCommentTable" />
		ON
		<include refid="issueJoint" />
		LEFT JOIN
		<include refid="commentTable" />
		ON
		<include refid="commentJoint" />
		LEFT JOIN
		t_user tuc
		ON
		tc.user_id = tuc.id
		LEFT JOIN
		t_dept tdc
		ON
		tuc.dept_id = tdc.id
		WHERE
		<include refid="isNotDelete" />
	</sql>

	<!-- 获取全部问题 -->
	<select id="selectAllIssues" resultMap="issueResultMap">
		<include refid="IssueSelect" />
		<include refid="orderByLastUptTime" />
	</select>
	
	<!-- 获取指定id的问题 -->
	<select id="selectById" parameterType="Integer" resultMap="issueResultMap">
		<include refid="IssueSelect" />
		AND
		ti.id = #{id}
	</select>
	<!-- 插入问题 -->
	<insert id="insertIssue" parameterType="com.xwj.entity.Issue"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO t_issue
		(title,content,status_id,user_id,submit_time,submit_time_stamp,last_update_time,week_of_year,is_top)
		VALUES
		(#{title},#{content},1,#{user.id},now(),now(),now(),#{weekOfYear},#{isTop})
	</insert>
	
	<!-- 为指定的问题插入评论 -->
	<insert id="insertComment" parameterType="com.xwj.entity.Comment" useGeneratedKeys="true"
	keyProperty="id" keyColumn="id">
		INSERT INTO 
		t_comment
		(content,user_id,create_time,is_resovled_issue,is_problem)
		VALUES
		(#{content},#{user.id},now(),#{isResovleIssue},#{isProblem})
		<selectKey resultType="Integer" order="AFTER" keyProperty="id" keyColumn="id">
        	SELECT LAST_INSERT_ID() as id;
    	</selectKey>
	</insert>
	
	<update parameterType="Integer" id="updateIssueTop">
		UPDATE t_issue SET is_top = -1 where id = #{id};		
	</update>
	<update id="cancelIssueTop" parameterType="Integer">
	
		UPDATE t_issue SET is_top = 0 where id = #{id};		
	</update>
	<insert id="insertIssueJointComment" parameterType="com.xwj.params.IssueJointComment">
		INSERT INTO
		t_issue_comments(issue_id,comment_id)
		VALUES
		(#{issueId},#{commentId})
	</insert>
	<update id="resolveIssueByComment" parameterType="Integer">
		UPDATE t_issue SET status_id = 3, resolved_time = now() WHERE id = #{issueId}
	</update>
	<update id="updateLastTime" parameterType="Integer">
	UPDATE t_issue SET last_update_time = now() WHERE id = #{id}
	</update>
	<update id="updateStatusById" parameterType="com.xwj.params.UpdateStatusByIssueId">
		UPDATE t_issue SET status_id = #{statusId},resolved_time=now() WHERE id = #{issueId}
	</update>
	
	<resultMap type="com.xwj.entity.Issue" id="issueResultMap">
		<id column="issueId" property="id" />
		<result column="title" property="title" />
		<result column="issueContent" property="content" />
		<result column="submitTime" property="submitTime" />
		<result column="lastUpdateTime" property="lastUpdateTime" />
		<result column="resolvedTime" property="resolvedTime" />
		<result column="weekOfYear" property="weekOfYear" />
		<result column="isTop" property="isTop"/>
		
		<association property="status" javaType="com.xwj.entity.Status">
			<id column="statusId" property="id" />
			<result column="statusName" property="statusName" />
		</association>

		<association property="user" javaType="com.xwj.entity.User"
			resultMap="userResultMap" />

		<collection property="comments" ofType="com.xwj.entity.Comment">
			<id column="pkCommentId" property="id" javaType="Integer" />
			<result column="commentContent" property="content" />
			<result column="isResolvedIssue" property="isResovleIssue" />
			<result column="isProblem" property="isProblem" />
			<result column="commentCreateTime" property="createTime" />

			<association property="user" javaType="com.xwj.entity.User">
				<result column="userNameC" property="username" />
				<result column="passwordC" property="password" />
				<result column="realNameC" property="realName" />
				<association property="dept" javaType="com.xwj.entity.Dept">
					<id column="deptIdC" property="id" />
					<result column="deptNameC" property="deptName" />
					
				</association>
			</association>
		</collection>
	</resultMap>


	<resultMap type="com.xwj.entity.User" id="userResultMap">
		<result column="userName" property="username" />
		<result column="password" property="password" />
		<result column="realName" property="realName" />
		<association property="dept" javaType="com.xwj.entity.Dept">
			<id column="pkDeptId" property="id" />
			<result column="deptId" property="id" />
			<result column="deptName" property="deptName" />
		</association>
	</resultMap>
</mapper>